<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>estudo-j2ee</display-name>
  
  <!-- CRIA O SERVLET COM O NOME E O NOME DA CLASSE (PACOTE + NOME CLASSE) -->
  <servlet>
    <servlet-name>TestingServlet</servlet-name>
    <servlet-class>capitulo1.TestingServlet</servlet-class>
  </servlet>
  
  <!-- DEPOIS QUE DECLAROU O SERVLET ACIMA, AQUI VOCÊ MAPEIA ELE EM QUAL ENDPOINT PARA SER ACESSADO NA URL -->
  <servlet-mapping> 
 	 <servlet-name>TestingServlet</servlet-name> 
 	 <url-pattern>/</url-pattern> 
  </servlet-mapping>
  
  <!-- LISTA DE ARQUIVOS INICIAS -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
</web-app>